<div class="row">
    <div class="col-12 text-center  pt-4 pb-4">
        <div class="btn mr-2" [ngClass]="{'btn-success':Status}" (click)="HienPhimDangChieu()">Phim đang chiếu</div>
        <div class="btn" [ngClass]="{'btn-success': !Status}" (click)="HienPhimSapChieu()">Phim sắp chiếu</div>

    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="Status;else phimSapChieu">
        <app-phim-dang-chieu></app-phim-dang-chieu>
    </div>

    <ng-template #phimSapChieu>
        <div class="col-12">
            <app-phim-sap-chieu></app-phim-sap-chieu>
        </div>
    </ng-template>

</div>