<footer class="pt-3">
    <div class="container footer-content">
        <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 ml-3"><h3 class="title">VỀ CyberPhim</h3>
                      <div>
                        <ul class="menu">
                          <li >
                            <a href="https://www.bhdstar.vn/he-thong-rap/">Hệ Thống Rạp</a>
                          </li>
                          <li ><a href="https://www.bhdstar.vn/tuyen-dung/">Tuyển dụng</a></li>
                          <li ><a href="https://www.bhdstar.vn/lien-he/">Liên Hệ</a></li>
                        </ul>
                      </div>
                    </div>
    <div class="col-md-3 col-sm-6 col-xs-12"><h3 class="title">QUY ĐỊNH &amp; ĐIỀU KHOẢN</h3>
      <div >
        <ul class="menu">
          <li ><a href="https://www.bhdstar.vn/quy-dinh-thanh-vien/">Quy định thành viên</a></li>
    <li><a href="https://www.bhdstar.vn/dieu-khoan/">Điều khoản</a></li>
    <li><a href="https://www.bhdstar.vn/?page_id=64">Quyền và nghĩa vụ</a></li>
    <li><a href="https://www.bhdstar.vn/chinh-sach-giao-nhan/">Chính sách giao nhận</a></li>
    <li><a href="https://www.bhdstar.vn/quy-dinh-va-hinh-thuc-thanh-toan/">Quy định và hình thức thanh toán</a></li>
    <li><a href="https://www.bhdstar.vn/quy-dinh-va-chinh-sach-chung/">Quy định và chính sách chung</a></li>
    <li><a href="https://www.bhdstar.vn/dieu-khoan/chinh-sach-su-dung-voucher/">Chính sách sử dụng voucher</a></li>
    <li><a href="https://www.bhdstar.vn/dieu-khoan/chinh-sach-bao-ve-thong-tin-ca-nhan-cua-nguoi-tieu-dung/">Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</a></li>
    </ul></div></div>
        </div>
    
                <a style="position: absolute;bottom: 160px;" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=46613" target="_blank" rel="nofollow">
                    <img style="width: 150px;" src="http://online.gov.vn/PublicImages/2015/08/27/11/20150827110756-dathongbao.png" alt="Đã thông báo Bộ Công Thương">
                </a>
    
        <div class="copyright">
            Số ĐKKD: 0305418909, cấp lần đầu ngày 29/12/2007 – Sở KHĐT TP. HCM cấp</div>
    
      </div>
    
</footer>
