<nav class="navbar navbar-expand-md navbar-dark justify-content-end fixed-top">
    <a class="navbar-brand ml-4 logo" href="#">
        <h1>Home</h1>
    </a>
    <button class="navbar-toggler ml-auto mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
        <ul class="navbar-nav text-right header-list">
            <li class="nav-item  mr-4">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item  mr-4">
                <a class="nav-link" href="#lichChieu">Lịch chiếu</a>
            </li>
            <li class="nav-item  mr-4">
                <a class="nav-link" href="#tinTuc">Tin tức</a>
            </li>
            <li class="nav-item  mr-4">
                <a class="nav-link" href="#lienHe">Liên hệ</a>
            </li>
            <li class="nav-item" *ngIf="!logedIn">

                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-alt mr-2 fs-3"></i>ĐĂNG NHẬP</a>

            </li>
            <li class="nav-item dropdown" *ngIf="logedIn">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Hi {{nguoiDung}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" (click)="dangXuat()">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </div>
</nav>



<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="container">

                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#home">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu1">Đăng ký</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="container tab-pane active"><br>
                            <app-dang-nhap></app-dang-nhap>
                        </div>
                        <div id="menu1" class="container tab-pane fade"><br>
                            <app-dang-ky></app-dang-ky>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>