<header class="myHeader">
        <div class="myHeader_content">
            <div class="header_left">
                <h1><a href="">CyberPhim</a></h1>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Phim</a></li>
                    <li><a href="">Lịch chiếu</a></li>
                    <li><a href="">Rạp</a></li>
                    <li><a href="">Tin tức</a></li>
                    <a href=""><i class="fas fa-user-circle font-user"></i></a>
                    <li><a href="">Đăng nhập</a></li>
                  </ul>
            </div>
        </div>
        </header>