/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding-top: 80px;
    background: none;
}

.owl-prev {
    position: absolute;
    top: 20%;
    left: -40px;
}

.owl-next:hover span {
    background-color: white;
}

.owl-prev span {
    font-size: 100px;
    border: none;
}

.owl-next {
    position: absolute;
    top: 20%;
    right: -40px;
}

.owl-next span {
    font-size: 100px;
    border: none;
}

.owl-next:focus,
.owl-prev:focus {
    outline: none;
}